Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

ColumnLimit: 120

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: All

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4

BreakInheritanceList: BeforeColon

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

SortIncludes: CaseSensitive
SortUsingDeclarations: true

IncludeCategories:
  - Regex: '^<.*'
    Priority: 1

  - Regex: '^".*'
    Priority: 2

  - Regex: '.*'
    Priority: 3

IncludeIsMainRegex: '([-_](test|unittest))?$'
FixNamespaceComments: true
ReflowComments: true
SeparateDefinitionBlocks: Leave

IndentPPDirectives: None

SpacesInParens: Never
SpaceInEmptyBraces: Never

KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
  AtEndOfFile: false

MaxEmptyLinesToKeep: 2
InsertNewlineAtEOF: true
